button, a.btn, .btn{
    background-color: $text;
    color: $secondary!important;
    transition: all .3s ease-in-out;
    border: none;
    &:hover{
        background-color: $secondary;
        color: $text!important;
    }
    &.btn-brand {

    }
}
