<div class="content-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a ng-click="vm.sortType = 'position'; vm.sortReverse = !vm.sortReverse">
                        Pos
                        <i class="fa fa-caret-down" ng-if="vm.sortType === 'position' && !vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortType === 'position' && vm.sortReverse"></i>
                    </a>
                </th>
                <th colspan="2">
                    <a >
                        Team
                    </a>
                </th>
                <th>
                    <a ng-click="vm.sortType = 'playedGames'; vm.sortReverse = !vm.sortReverse">
                        GP
                        <i class="fa fa-caret-down" ng-if="vm.sortType === 'playedGames' && !vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortType === 'playedGames' && vm.sortReverse"></i>
                    </a>
                </th>
                <th>
                    <a >
                        W
                    </a>
                </th>
                <th>
                    <a >
                        D
                    </a>
                </th>
                <th>
                    <a >
                        L
                    </a>
                </th>
                <th>
                    <a ng-click="vm.sortType = 'goalsFor'; vm.sortReverse = !vm.sortReverse">
                        GF
                        <i class="fa fa-caret-down" ng-if="vm.sortType === 'goalsFor' && !vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortType === 'goalsFor' && vm.sortReverse"></i>
                    </a>
                </th>
                <th>
                    <a ng-click="vm.sortType = 'goalsAgainst'; vm.sortReverse = !vm.sortReverse">
                        GA
                        <i class="fa fa-caret-down" ng-if="vm.sortType === 'goalsAgainst' && !vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortType === 'goalsAgainst' && vm.sortReverse"></i>
                    </a>
                </th>
                <th>
                    <a ng-click="vm.sortType = 'goalDifference'; vm.sortReverse = !vm.sortReverse">
                        GD
                        <i class="fa fa-caret-down" ng-if="vm.sortType === 'goalDifference' && !vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortType === 'goalDifference' && vm.sortReverse"></i>
                    </a>
                </th>
                <th>
                    <a >
                        Pts
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="table in vm.standing | orderBy:vm.sortType:vm.sortReverse">
                <td>
                    {{table.position}}
                </td>
                <td>
                    <img width="40px" ng-src="{{table.team.crestUrl}}" alt="">
                </td>
                <td>
                    <a ng-click="vm.openTeamModal(table.team, vm.league_details.competition.id)">

                        {{table.team.name}}
                    </a>
                </td>
                <td>{{table.playedGames}}</td>
                <td>{{table.won}}</td>
                <td>{{table.draw}}</td>
                <td>{{table.lost}}</td>
                <td>{{table.goalsFor}}</td>
                <td>{{table.goalsAgainst}}</td>
                <td>{{table.goalDifference}}</td>
                <td>{{table.points}}</td>
            </tr>
        </tbody>
    </table>

</div>