<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a ng-click="vm.sortType = 'position'; vm.sortReverse = !vm.sortReverse">
                        Pos
                        <i class="fa fa-caret-down" ng-if="!vm.sortReverse"></i>
                        <i class="fa fa-caret-up" ng-if="vm.sortReverse"></i>
                    </a>
                </th>
                <th colspan="2">
                    Team
                </th>
                <th>
                    GP
                </th>
                <th>
                    W
                </th>
                <th>
                    D
                </th>
                <th>
                    L
                </th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="table in vm.standing | orderBy:vm.sortType:vm.sortReverse">
                <td>
                    {{table.position}}
                </td>
                <td>
                    <img width="40px" ng-src="{{table.team.crestUrl}}" alt="">
                </td>
                <td>
                    <a ng-click="vm.openTeamModal(table.team, vm.league_details.competition.id)">
                        
                        {{table.team.name}}
                    </a>
                </td>
                <td>{{table.playedGames}}</td>
                <td>{{table.won}}</td>
                <td>{{table.draw}}</td>
                <td>{{table.lost}}</td>
                <td>{{table.goalsFor}}</td>
                <td>{{table.goalsAgainst}}</td>
                <td>{{table.goalDifference}}</td>
                <td>{{table.points}}</td>
            </tr>
        </tbody>
    </table>
    
</div>